.headerRightContainer {
  width: 210px;
  height: 36px;
  display: flex;
  align-items: center;
}
.linkText {
  width: 50px;
  height: 22px;
  color: black;
  text-decoration: none;
}
.linkText:hover{
  color: rgb(22, 24, 35);
  text-decoration: underline;
}
.loginButton {
  margin: 8px;
  margin-right: 0px;
  border-radius: 5px;
  padding: 6px 8px;
  color: #fffefe;
  background-color: #fe2c55;
  border: none;
  width: 90px;
  height: 100%;
}
.loginButton:hover{
  cursor: pointer;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
}
.iconWrapper {
  margin-left: 16px;
  position: relative;
  cursor: pointer;
  font-style: normal;
  padding: 0 4px;
}
.threeDot {
  width: 20px;
  height: 20px;
  display: block;
}
