.headerRightContainer {
  width: 210.19px;
  height: 36px;
  display: flex;
  align-items: center;
}
.linkText {
  line-height: 22px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  display: block;
}
.linkText:hover{
  color: rgb(22, 24, 35);
  text-decoration: underline;
}
.loginButton {
  margin: 8px 0px 8px 16px;
  border-radius: 5px;
  padding: 6px 8px;
  color: #fffefe;
  background-color: #fe2c55;
  border: none;
  min-width: 100px;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
}
.loginButton:hover{
  cursor: pointer;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
}

.iconWrapper {
  margin-left: 16px;
  position: relative;
  cursor: pointer;
  font-style: normal;
  padding: 10px 4px;
}
.threeDot {
  width: 20px;
  height: 20px;
  display: block;
}

.iconWrapper:hover .listItem{
  display: block;
  opacity: 1;
}
.listItem{
  display: none;
  position: absolute;
  background-color: #fffefe;
  z-index: 1;
  top: calc(100% + 3px);
  right: -13px;
  min-width: 223px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.06);
  padding: 8px 0;
  border-radius: 3px;
  transition: opacity 300ms ease-in 0;
  opacity: 1;
}

.listItem::before{
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  right: 19px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom: 8px solid #fffefe;
}
.Item{
  list-style: none;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}

.Item:hover{
  background-color: rgba(22, 25, 24, 0.03);
}

.Item__icon{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}