.headerWrapperMain {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  width: 1106px;
  padding-left: 20px;
  padding-right: 24px;
}
.headerContainerMain {
  max-width: 1536px;
  max-height: 60px;
}
