.spanSpliter {
  width: 1px;
  height: 28px;
  background-color: #d6d7d9;
}
.searchFormContainer {
  background-color: #f1f1f2;
  border-radius: 30px;
  
}
.searchFormContainer:focus-within{
  border: 1.5px solid rgba(22, 24, 35, 0.2);
}
.formContainer {
  height: 22px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputElement {
  width: 292px;
  background-color: #f1f1f2;
  color: white;
  border: none;
  background: transparent;
  caret-color: rgba(254, 44, 85, 1.0);
  outline: none;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}


.buttonStyle {
  border: none;
  padding: 11px 16px 11px 12px;
  margin: -12px -16px;
  margin-left: 0px;
  background: transparent;
  font-size: 0;
}
.buttonStyle:hover{
  cursor: pointer;
  background: rgb(59, 59, 59, 0.05);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px ;
}
::placeholder {
  color: #7f7f7f;
}
