.spanSpliter {
  width: 0.5px;
  height: 28px;
  background-color: #d6d7d9;
}
.searchFormContainer {
  background-color: #f1f1f2;
  border-radius: 30px;
  padding: 12px 16px;

}
.formContainer {
  width: 329px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputElement {
  width: 292px;
  background-color: #f1f1f2;
  color: white;
  border: none;
  background: transparent;
  caret-color: rgba(254, 44, 85, 1.0);
  outline: none;
}
.buttonStyle {
  border: none;
  padding: 11px 16px 11px 12px;
  margin: -12px -16px;
  margin-left: 0px;
  background: transparent;
  font-size: 0;
}
.buttonStyle:hover{
  cursor: pointer;
  background: rgb(59, 59, 59, 0.05);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px ;
}
::placeholder {
  color: #7f7f7f;
}
