.divActionItemContainer{
    display: flex;
    flex-direction: column;
}
.buttonActionItem{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}
.spanIconWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 0px;
    border-radius: 50%;
    transition: all ease-in-out 200ms;
    background-color: rgba(22, 24, 35, 0.06);
    margin-top: 8px;
    margin-bottom: 6px;
}
.strongText{
    color: rgba(22, 24, 35, 0.75);
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}