.divSideBar{
    font-family: 'IBM Plex Sans','Montserrat', sans-serif;
    position: relative;
    width: 356px;
    -webkit-flex: 0 0 356px;
    flex: 0 0 356px;
}
.divScrollContainer{
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    width: 356px;
    background: rgba(255, 255, 255, 1.0) ;
    padding-right: 8px;
    top: 60px;
    bottom: 0;
    position: fixed;
    z-index: 99;
   
}

.divWrapper{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    padding: 20px 0 26px 8px;
}
.divScrollBar{
    position: absolute;
    padding: 0 4px;
    top: 0;
    transition: opacity .5s;
    opacity: 0;
    
    right: 0;
    transform-origin: right top;
}
.divScrollBarThumb{
    width: 6px;
    height: 100%;
    border-radius: 3px;
   
    background: rgba(22, 24, 35, .06);
}

.divScrollContainer::-webkit-scrollbar{
    width: 0;
    height: 0;
}
/* .divScrollContainer::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background: rgba(22, 24, 35,0);
    transition: background 0.5s;
} */
.divScrollContainer:hover .divScrollBar{
    opacity: 1;
}
