.divPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}
.divBodyContainer {
  margin-top: 60px;
  width: 100vw;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  flex: 1 1 auto;
}
.loginButton {
    margin: 8px 0px 8px 16px;
    border-radius: 5px;
    padding: 6px 8px;
    color: #fffefe;
    background-color: #fe2c55;
    border: none;
    min-width: 100px;
    min-height: 36px;
    font-weight: 700;
    font-size: 16px;
  }
  .loginButton:hover{
    cursor: pointer;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
  }