body {
  margin: 0;
  font-family: 'IBM Plex Sans','Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}
input{
  font-family: 'IBM Plex Sans','Montserrat', sans-serif;
}
button{
  font-family: 'IBM Plex Sans','Montserrat', sans-serif;
}